<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/estilos.css"/>
</head>
<body>
    <div id="contenedor">
        <header>
            <h1>Liga de Futbol Profesional</h1>
        </header>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="fixture.html">Fixture y resultados</a></li>
                <li><a href="equipos.html">Equipos</a></li>
            </ul>
        </nav>
        <section id="contenido">
            <div id="cont-article-info">
                <article>
                    <img src="./img/boca.png"><p>El Club Atlético Boca Juniors o simplemente Boca Juniors es una entidad deportiva argentina con sede en el barrio de La Boca, Buenos Aires. Fue fundado en dicho barrio el 3 de abril de 1905 por seis vecinos adolescentes hijos de italianos. El fútbol es su disciplina más destacada, aunque también compite a nivel profesional, nacional e internacionalmente, en baloncesto, voleibol, futsal y fútbol femenino, mientras que deportes como el boxeo, judo, karate, taekwondo, lucha, gimnasia rítmica y artística se practican a nivel amateur. El equipo juega sus partidos como local en el estadio Alberto J. Armando, conocido mundialmente como «La Bombonera».</p>
                </article>
                <article>
                    <img src="./img/river.jpg"><p>El Club Atlético River Plate, más conocido simplemente como River Plate, es una entidad polideportiva con sede en Buenos Aires, Argentina.10​ El club fue fundado el 25 de mayo de 1901 en el barrio de La Boca, tras la fusión de los clubes Santa Rosa y La Rosales. Su nombre proviene de la antigua denominación que se le daba en inglés británico al Río de la Plata.11​12​ Su principal disciplina es el fútbol masculino profesional, que milita actualmente en la Primera División de Argentina. Además, en el club se practican otras 65 disciplinas distintas, posee institutos educativos en todos los niveles académicos y fomenta actividades culturales y sociales.</p>
                </article>
                <article>
                    <img src="./img/independiente.png"><p>El Club Atlético Independiente, conocido popularmente como Independiente o por su sigla CAI, es una entidad deportiva de Argentina de la ciudad bonaerense de Avellaneda, situado en el sur del Gran Buenos Aires (GBA). Fue fundado el 1 de enero de 1905 por unos jóvenes empleados independistas del Club Maipú. El fútbol es su disciplina más destacada, cuyo primer equipo participa en la Superliga Argentina, aunque también se practican otras disciplinas deportivas a nivel amateur y semiprofesional.Los colores que identifican al equipo son el rojo, y han sido utilizados en los colores de su uniforme desde 1908.</p>
                </article>
            </div>
        </section>
        <aside>
            <h2>Auspiciantes</h2>
            <div id="cont-aside-img">
                <img src="./img/adidas.jpg">
                <img src="./img/macro.jpg">
                <img src="./img/chebrolet.png">
                <img src="./img/fravega.jpg">
            </div>
        </aside>
        <footer>
            <h2>Avda. Pedro Ortiz de Zarate N 455 - Tel 388 4789555</h2>
        </footer>
    </div>
</body>
</html>